.q-art {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2vh 3vh 3vh 3vh;
  width: min(100vw, 100vh);
  height: 100vh;
}

.q-art__text {
  padding-bottom: 2vh;
  font-size: 3.4vh;
  text-align: center;
  color: #FDAC53;
  border-bottom: 1px solid #FDAC53;
  margin-bottom: 3vh;
}

.q-art__img {
  margin: 0 auto;
  height: min(75vw, 55vh);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 3vh;
}

.text-answ {
  margin: 0 auto;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 3vh;
}

.text-answ__btn {
  padding: 1.3vh;
  font-size: max(2vh, 14px);
  background-color: rgb(40, 40, 40);
  border: 1px solid #FDAC53;
  border-radius: 4vh;
  box-shadow: 8px 10px 12px #000;
}

.text-answ__btn:hover { color: #FDAC53 }

.text-answ__btn:active {
  box-shadow: 4px 5px 6px #000;
}

.status {
  margin: 0 auto;
  width: min(60%, 60vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-item {
  width: max(1vh, .6vw);
  height: max(1vh, .6vw);
  border-radius: 50%;
  background-color: antiquewhite;
}

.--current { background-color: #FDAC53; }

.--right { background-color: #006B54; }

.--wrong { background-color: #A2242F; }

.q__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-wrapper {
  display: none;
  width: min(76vh, 70vw);
  padding: 0 min(4vh, 8vw);
  justify-content: space-between;
  align-items: center;
}

.progr-timer {
  flex-grow: 1;
  margin-right: min(3vh, 6vw);
  background: linear-gradient(to right, #006B54 0%, #006B54 100%, #c4c4c4 100%, #c4c4c4 100%);
  cursor: unset;
  transition: .3s;
}

.progr-timer::-webkit-slider-thumb { display: none; }

.progr-timer::-moz-range-thumb { visibility: hidden; }

.time-left { font-size: min(2.5vh, 4vw); }

.categ-btn {
  width: 4vh;
  height: 4vh;
  background-image: url(../assets/svg/categories.svg);
}

@media (max-width: 539px) {
  .text-answ {
    width: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2.5vh;
  }
}