.results {
  margin: 0 auto;
  padding: 2.5vh;
  width: 100vw;
  height: 100vh;
}

.results__head {
  position: fixed;
  width: 95%;
  padding: 3vh;
  top: 0;
  left: max(0px, calc((100vw - 95%) / 2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4vh;
  letter-spacing: .1vh;
  color: #FDAC53;
  border-bottom: 1px solid #FDAC53;
  background-color: #222;
  z-index: 10;
}

.results__list {
  padding: 13vh 0 4vh 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: min(3vh, 5vw);
  justify-content: center;
  align-items: center;
}

.results__item {
  position: relative;
  width: min(32vh, 20vw);
  height: min(32vh, 20vw);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #222;
  border-radius: 1vh;
  box-shadow: .5vh .7vh 1.2vh #000;
  filter: grayscale(100%);
  cursor: pointer;
  overflow-y: hidden;
  transition: .3s;
}

.results__item:hover { border: 1px solid #FDAC53; }

.results__item:active { box-shadow: 0 0 1.5vh #FDAC53; }

.results__item.active { filter: grayscale(0); }

.res-item__download {
  position: absolute;
  content: '';
  top: min(1vh, 1vw);
  right: min(1vh, 1vw);
  width: min(3vh, 6vw);
  height: min(3vh, 6vw);
  background-image: url(../assets/svg/floppy.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(.2vh .3vh .5vh #000);
  transition: .3s;
}

.res-item__download:hover { transform: translateY(.4vh); }

.res-item__download:active {
  transform: translateY(.4vh) scale(.95); }

.res-item__wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  bottom: -100%;
  padding: .5vh 1vh;
  font-size: max(1.3vh, 14px);
  text-align: center;
  background-color: #333;
  border-top-left-radius: 1.8vh;
  border-top-right-radius: 1.8vh;
  transition: .3s;
}

.res-item__author {
  margin: .3vh 0;
  padding: .3vh 0;
  width: fit-content;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  color: #FDAC53;
}

.res-item__wrapper.--show { bottom: 0; }

@media (pointer: coarse) {
  .results__item {
    width: 19vh;
    height: 24vh;
  }
}