@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff2");
}
html { box-sizing: border-box; }
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #fff;
  background: no-repeat center/cover, rgba(0, 0, 0, .5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
main {
  margin: 0 auto;
  width: 99vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-slider {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-position: center center;
  background-color: transparent;
  border: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}
.btn-slider:hover { opacity: 1; }

.btn-prev { background-image: url(../assets/svg/slider-prev.svg); }

.btn-prev:active { transform: translateX(-1vh); }

.btn-next { background-image: url(../assets/svg/slider-next.svg); }

.btn-next:active { transform: translateX(1vh); }

.center-block {
  width: 90vw;
}
.time {
  margin-bottom: 24px;
  font-family: 'Arial-MT';
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -4px;
  text-align: center;
}
.date {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
.greetings {
  display: flex;
  font-size: 40px;
  flex-wrap: wrap;
}
.greetings__text {
  flex: 1;
  padding-right: 10px;
  text-align: right;
}
.greetings__name {
  flex: 1;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
.greetings__name::placeholder {
  color: #fff;
  opacity: .6;
}