@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff2");
}
html { box-sizing: border-box; }
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
  background: no-repeat center/cover, rgba(0, 0, 0, .5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
button {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}
button:hover { opacity: 1; }

header {
  height: 39vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
                                                              /*Audio player*/

.player { width: 560px; }

.player button:active { filter: invert(75%); }

.curr-track-name {
  margin-bottom: 10px;
  text-align: center;
}
.controls {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prev-next-btn {
  width: 32px;
  height: 32px;
}
.controls__prev { background-image: url(../assets/svg/play-prev.svg); }

.controls__next { background-image: url(../assets/svg/play-next.svg); }

.controls__play {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/play.svg);
}
.pause { background-image: url(../assets/svg/pause.svg); }

.controls__progress {
  height: 6px;
  appearance: none;
  cursor: pointer;
}
.controls__progress::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #fff;
  opacity: .8;
}
.audio-progress {
  width: 220px;
  background: linear-gradient(to right, #FDAC53 0%, #FDAC53 0%, #c4c4c4 0%, #c4c4c4 100%);
}
.duration {
  width: 80px;
  text-align: center;
}
.controls__mute {
  width: 26px;
  height: 26px;
  background-image: url(../assets/svg/volume.svg);
}
.muted { background-image: url(../assets/svg/muted.svg); }

.vol-progress {
  width: 70px;
  background: linear-gradient(to right, #FDAC53 0%, #FFA500 70%, #c4c4c4 70%, #c4c4c4 100%);
}
.playlist { list-style-type: none; }

.track-name {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.track-duration { margin-left: auto; }

.curr-track { color: #FDAC53; }

.btn-play-track {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/play.svg);
}
.--pause-track { background-image: url(../assets/svg/pause.svg); }

                                                              /*Weather widget*/

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  height: 180px;
  text-align: left;
}
.weather-error { margin-top: -10px; }

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}
.weather-icon { font-size: 44px; }

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
                                                              /*Main*/

main {
  width: 99vw;
  height: 22vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
                                                              /*Bg slider controls*/

.btn-slider {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.btn-prev { background-image: url(../assets/svg/slider-prev.svg); }

.btn-prev:active { transform: translateX(-1vh); }

.btn-next { background-image: url(../assets/svg/slider-next.svg); }

.btn-next:active { transform: translateX(1vh); }

                                                              /*Time, date, greetings*/

.center-block { width: 90vw; }

.time {
  margin-bottom: 24px;
  font-family: 'Arial-MT';
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -4px;
  text-align: center;
}
.date {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
.greetings {
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
}
.greetings__text {
  padding-right: 10px;
  text-align: right;
}
.greetings__name {
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
.greetings__name::placeholder {
  color: #fff;
  opacity: .6;
}
                                                              /*Footer*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 39vh;
  min-height: 160px;  
  padding: 20px;
}
.todo-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, .8);
  border-radius: 5px;
}
.input-todo {
  margin-right: 10px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
.input-todo::placeholder {
  color: #fff;
  opacity: .6;
}
.btn-add-todo {
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}
.todo-list {
  height: 17vh;
  list-style-type: none;
  overflow-y: auto;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}
.btn-del-todo {
  width: 32px;
  height: 32px;
  background-image: url(../assets/svg/bin.svg);
}
.btn-del-todo:active { filter: invert(75%); }

.quote-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-upd-quote {
  width: 32px;
  height: 32px;
  margin-bottom: 30px;
  background-image: url(../assets/svg/reload.svg);  
}
.btn-upd-quote:active {
  transform: rotate(450deg);
}
.quote { margin-bottom: 15px; }

.author { text-align: center; }