@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff2");
}
html { box-sizing: border-box; }
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
  background: no-repeat center/cover, rgba(0, 0, 0, .5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
button {
  color: inherit;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}
button:hover { opacity: 1; }

.hidden {
  visibility: hidden;
  opacity: 0;
}
header {
  height: 39vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
                                                              /*Audio player*/

.player {
  width: 560px;
  transition: .4s ease-in-out;
}
.player button:active { filter: invert(75%); }

.curr-track-name {
  margin-bottom: 10px;
  text-align: center;
}
.controls {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prev-next-btn {
  width: 32px;
  height: 32px;
}
.controls__prev { background-image: url(../assets/svg/play-prev.svg); }

.controls__next { background-image: url(../assets/svg/play-next.svg); }

.controls__play {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/play.svg);
}
.pause { background-image: url(../assets/svg/pause.svg); }

.controls__progress {
  height: 6px;
  appearance: none;
  cursor: pointer;
}
.controls__progress::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #fff;
  opacity: .8;
}
.audio-progress {
  width: 220px;
  background: linear-gradient(to right, #FDAC53 0%, #FDAC53 0%, #c4c4c4 0%, #c4c4c4 100%);
}
.duration {
  width: 80px;
  text-align: center;
}
.controls__mute {
  width: 26px;
  height: 26px;
  background-image: url(../assets/svg/volume.svg);
}
.muted { background-image: url(../assets/svg/muted.svg); }

.vol-progress {
  width: 70px;
  background: linear-gradient(to right, #FDAC53 0%, #FFA500 70%, #c4c4c4 70%, #c4c4c4 100%);
}
.playlist { list-style-type: none; }

.track-name {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.track-duration { margin-left: auto; }

.curr-track { color: #FDAC53; }

.btn-play-track {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/play.svg);
}
.--pause-track { background-image: url(../assets/svg/pause.svg); }

                                                              /*Weather*/

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  height: 180px;
  text-align: left;
  transition: .4s ease-in-out;
}
.weather-error { margin-top: -10px; }

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}
.weather-icon { font-size: 44px; }

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
                                                              /*Main*/

main {
  width: 99vw;
  height: 22vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
                                                              /*Bg slider controls*/

.btn-slider {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.btn-prev { background-image: url(../assets/svg/slider-prev.svg); }

.btn-prev:active { transform: translateX(-1vh); }

.btn-next { background-image: url(../assets/svg/slider-next.svg); }

.btn-next:active { transform: translateX(1vh); }

                                                              /*Time, date, greetings*/

.center-block { width: 90vw; }

.time {
  margin-bottom: 24px;
  font-family: 'Arial-MT';
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -4px;
  text-align: center;
  transition: .4s ease-in-out;
}
.date {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  transition: .4s ease-in-out;
}
.greetings {
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  transition: .4s ease-in-out;
}
.greetings__text {
  padding-right: 10px;
  text-align: right;
}
.greetings__name {
  font-size: 40px;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
.greetings__name::placeholder {
  color: inherit;
  opacity: .6;
}
                                                              /*Footer*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 39vh;
  min-height: 160px;  
  padding: 20px;
}
                                                              /*To-Do List*/

.todo-wrp {
  width: 560px;
  transition: .4s ease-in-out;
}
.todo-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, .8);
  border-radius: 5px;
}
.input-todo {
  margin-right: 10px;
  font-size: 24px;
  line-height: 24px;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
.input-todo::placeholder {
  color: inherit;
  opacity: .6;
}
.btn-add-todo {
  width: 30px;
  height: 30px;
  font-size: 24px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.todo-list {
  height: 17vh;
  list-style-type: none;
  overflow-y: auto;
}
.todo-list::-webkit-scrollbar {
  width: 6px;
}
.todo-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, .5);
  border-radius: 4px;
}
.todo-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, .9);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, .2);
}
.todo {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}
.todo-text {
  width: 92%;
  word-wrap: break-word;
  hyphens: auto;
}
.btn-del-todo {
  width: 32px;
  height: 32px;
  background-image: url(../assets/svg/bin.svg);
}
.btn-add-todo:active,
.btn-del-todo:active { filter: invert(75%); }

                                                              /*Quotes*/

.quote-wrp {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .4s ease-in-out;
}
.btn-upd-quote {
  width: 32px;
  height: 32px;
  margin-bottom: 30px;
  background-image: url(../assets/svg/reload.svg);  
}
.btn-upd-quote:active {
  transform: rotate(450deg);
}
.quote { margin-bottom: 15px; }

.author { text-align: center; }

                                                              /*Settings*/

.settings-wrp { position: relative; }

.btn-settings {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  background-image: url(../assets/svg/settings.svg); 
}
.btn-settings:active { transform: rotate(450deg); }

.settings {
  position: absolute;
  width: 300px;
  height: 33vh;
  overflow-y: scroll;
  right: 20px;
  bottom: 80px;
  padding: 15px 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .8);
  transition: .3s ease-in-out;
}
.settings::-webkit-scrollbar {
  width: 6px;
}
.settings::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, .5);
  border-radius: 4px;
}
.settings::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #FDAC53;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, .3);
}
                                /*language*/

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
}
.language__text { color: #FDAC53; }

.language__btns {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}
.language__btns span {
  font-size: 18px;
  padding-bottom: 2px;
}
.highlighted {
  color: #FDAC53;
  opacity: 1;
}
                                /*components*/

.elems {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
}
.elems__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.elems-item__text { transition: .3s; }

.elems__item:hover .elems-item__text {
  color: #FDAC53;
}
.switch {
  width: 44px;
  height: 24px;
}
.switch input { display: none; }

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: .4s;
}
.slider:hover:before {
  filter: invert(65%);
}
input:checked + .slider {
  background-color: #FDAC53;
}
input:checked + .slider:before {
  transform: translateX(20px);
}
                                /*bg-src*/

.bg-src__title {
  margin-bottom: 15px;
  color: #FDAC53;
}
.bg-src__inputs {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}
.bg-src__radio { display: none; }

.bg-src__label {
  width: 95%;
  position: relative;
  cursor: pointer;
  transition: color .3s;
}
.bg-src__label:hover { color: #FDAC53; }

.bg-src__label::after {
  position: absolute;
  right: 0;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: 50%;
}
.bg-src__radio:checked + .bg-src__label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FDAC53'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
}
.sel-tag-txt { margin-bottom: 15px; }

.select-tag {
  width: 95%;
  height: 26px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, .9);
  border: none;
  outline: none;
  border-radius: 4px;
}
.select-tag option:checked {
  background-color: #FDAC53;
}