                                          /*Common*/

html { 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --bg-light: #fff;
  --bg-dark: #030303;
  --bg-dark-red: #710707;
  --bg-gold: #9D8665;
  --border-light: #fff;
  --border-dark-red: #710707;
  --border-gold: #9D8665;
  --light: #fff;
  --black: #000;
  --dark: #030303;
  --light-gold: #D2B183;
  --gold: #9D8665;
  --dark-gold: #7E6C51;
  --dark-red: #710707;
}
.body {
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
  color: var(--light);
  background-color: var(--bg-dark);
}
.container {
  margin: 0 auto;
  max-width: 1520px;
  padding: 75px 40px;
}
.nav-list-text {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  color: var(--light);
}

ul { list-style-type: none; }

.section-title {
  font-family: 'Forum', Arial;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.text-color--gold { color: var(--gold); }

.text-color--black { color: var(--black); }

.bg-color--white { background-color: var(--bg-light); }

a {
  text-decoration: none;
  transition: color .3s;
}
.link:hover { color: var(--gold); }

.link:active { color: var(--dark-gold) }

button {
  border: none;
  cursor: pointer;
}
.h3-style {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}
                                          /*Hide heading*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
                                          /*Header*/

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 40px 58px 40px;
}
.louvre__logo {
  width: 199px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1px;
}
.louvre-logo__img {
  margin-right: 22px;
  width: 50px;
  height: 34px;
  background: url(../assets/svg/logo.svg) no-repeat;
}
.louvre-logo__text {
  font-family: 'Forum', Arial;
  font-size: 28px;
  letter-spacing: 5px;
  color: var(--light);
  text-transform: uppercase;
}
.header__nav {
  max-width: 775px;
  width: 100%;
}
.header___nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
                                          /*Welcome-section*/

.welcome__wrp {
  position: relative;
  height: 810px;
}
.welcome__swiper {
  position: absolute;
  top: 0;
  right: 40px;
  width: 1000px;
  height: 810px;
}
.slide { background-repeat: no-repeat; }

.slide-1 {
  background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/img/welcome-slider/1.avif);
}
.slide-2 {
  background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/img/welcome-slider/2.avif);
}
.slide-3 {
  background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/img/welcome-slider/3.avif);
}
.slide-4 {
  background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/img/welcome-slider/4.avif);
}
.slide-5 {
  background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(../assets/img/welcome-slider/5.avif);
}
.swiper__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 75px 45px 74px;
  background-color: #000;
  z-index: 10;
}
.swiper-fraction { font-size: 22px; }

.swip-frac__other { margin-left: 5px; }

.swip-ctrl__pagination {
  margin-right: 5px;
  width: 180px !important;
  display: flex;
  justify-content: space-between;
}
.swip-ctrl-pag__bullet {
  width: 16px;
  height: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s;
}
.swip-ctrl-pag__bullet:hover { background-color: var(--bg-gold); }

.swip-ctrl-pag__bullet--active { background-color: var(--light-gold); }

.swip-ctrl__buttons {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swip-ctrl-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.swip-ctrl-btn > svg > path { transition: fill .3s; }

.swip-ctrl-btn:hover > svg > path { fill: var(--gold); }

.welcome--padding { padding: 150px 40px 272px 40px; }

.welcome__text {
  position: absolute;
  top: 150px;
  left: 40px;
  z-index: 10;
}
.welcome__title { margin-bottom: 24px; }

.welcome__descr {
  margin-bottom: 76px;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}
.welcome__btn {
  display: block;
  width: 360px;
  font-weight: 300;
  font-size: 22px;
  line-height: 75px;
  letter-spacing: 2px;
  color: var(--light);
  text-align: center;
  background-color: var(--bg-dark-red);
  border-radius: 10px;
  transition: background-color .3s;
}
.welcome__btn:hover { background-color: var(--bg-gold); }

                                          /*Visiting-section*/

.visiting--padding { padding: 75px 40px 73px 40px; }

.visiting__title { margin-bottom: 25px; }

.visiting__list {
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 76px;
  column-gap: 60px;
  border-top: 3px solid var(--border-dark-red);
}
.card__ref {
  display: block;
  color: var(--black);
}
.card-photo__img {
  margin-bottom: 25px;
  display: block;
  width: 440px;
  height: 285px;
}
.card-photo__title {
  margin-bottom: 9px;
  font-family: 'Forum', Arial;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.card__border {
  margin-bottom: 11px;
  width: 300px;
  border-top: 2px solid var(--border-dark-red);
  transition: width .75s;
}
.card__ref:hover > .card__border { width: 100%; }

.card__descr1 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
}
.card__descr2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 100;
}
                                          /*Explore-section*/

.explore__wrapper {
  display: flex;
  justify-content: space-between;
}
.explore__text-block { width: 660px; }

.explore__title { margin-bottom: 25px; }

.explore__border {
  margin-bottom: 76px;
  border-top: 3px solid var(--border-dark-red);
}
.explore__descr {
  margin-bottom: 26px;
  padding-right: 5px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}
.explore__img {
  margin-top: 14px;
  width: 720px;
  height: 700px;
}
                                          /*Video-section*/

.video--padding { padding: 76px 40px 74px 40px; }

.video__text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}
.video__descr {
  width: min(720px, calc(100% - 720px));
  padding-right: 10px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}
                /*Video player*/

.video-container {
  position: relative;
  margin-bottom: 40px;
  max-width: 1440px;
  max-height: 735px;
  overflow: hidden;
}
.video-container:fullscreen { cursor: none; }

video {
  width: 100%;
  margin-top: -79px;
}
.video-container:fullscreen > video { margin-top: 0; }

.big-play {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16%;
  height: 30%;
  background: no-repeat center url(../assets/svg/video/big-play.svg);
  transition: filter .3s;
}
.big-play:hover { filter: brightness(75%); }

.overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 14px;
  font-size: 32px;
  line-height: 60px;
  color: #c4c4c4;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: 500ms;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 25px 30px;
  background-color: #000;
}
.video-container:fullscreen > .controls {
  background-color: transparent;
  transition: opacity 1s;
  opacity: 0;
}
.play {
  width: 23px;
  height: 31px;
  margin-right: 50px;
  background: no-repeat url(../assets/svg/video/play.svg);
  transition: filter .3s;
}
.play:hover { filter: brightness(75%); }

.pause { background: no-repeat url(../assets/svg/video/pause.svg); }

.video-progress {
  margin-right: 50px;
  flex-grow: 1;
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
  height: 8px;
  appearance: none;
  cursor: pointer;
}
.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #fff;
  /* opacity: 0;
  transition: opacity .5s; */
}
/* .controls:hover > .progress::-webkit-slider-thumb { opacity: 1; } */

.volume {
  width: 38px;
  height: 31px;
  margin-right: 50px;
  background: no-repeat url(../assets/svg/video/volume.svg);
  transition: filter .3s;
}
.volume:hover { filter: brightness(75%); }

.vol50 { background: no-repeat url(../assets/svg/video/vol50.svg); }

.muted { background: no-repeat url(../assets/svg/video/muted.svg); }

.volume-progress {
  margin-right: 50px;
  background: linear-gradient(to right, #710707 0%, #710707 100%, #c4c4c4 100%, #c4c4c4 100%);
  height: 8px;
  width: 155px;
  appearance: none;
  cursor: pointer;
}
.fullscreen {
  width: 35px;
  height: 35px;
  background: no-repeat url(../assets/svg/video/fullscreen.svg);
  transition: .3s;
}
.fullscreen:hover { filter: brightness(75%); }

.video-container:fullscreen > .controls > .fullscreen {
  background: no-repeat url(../assets/svg/video/fullscreen_exit.svg);
}
.fullscreen:hover { transform: scale(1.1); }

.video-container:fullscreen > .controls > .fullscreen:hover {
  transform: scale(0.94);
}
                /*Video slider*/

.video__swiper {
  width: 100%;
  height: 254px;
  margin-bottom: 40px;
}
iframe { border: none; }

.video-swiper__controls {
  width: 200px !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-swp-ctrl__btn {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.video-swp-ctrl__btn > svg > path { transition: fill .3s; }

.video-swp-ctrl__btn:hover > svg > path { fill: var(--dark-red); }

.video-swp-ctrl__pagination {
  width: 140px !important;
  height: 12px;
  display: flex;
  justify-content: space-between;
}
.video-swp-ctrl-pag__bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999;
  cursor: pointer;
  transition: all .3s;
}
.video-swp-ctrl-pag__bullet:hover { background-color: var(--bg-dark-red); }

.video-swp-ctrl-pag__bullet--active { background-color: #333; }

                                          /*Gallery-section*/

.gallery { position: relative; }

.gallery::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  z-index: 10;
}
.gallery__container {
  max-height: 2200px;
  overflow: hidden;
  padding: 75px 40px 0 40px;
}
.gallery__title { margin-bottom: 75px; }

.gallery__inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 36px;
  row-gap: 24px;
  grid-auto-flow: dense;
}
.gallery__item {
  position: relative;
  width: 456px;
}
.gallery__item:nth-child(3n + 1) {
  grid-column-start: 1;
  top: 50px;
}
.gallery__item:nth-child(3n + 2) {
  grid-column-start: 2;
}
.gallery__item:nth-child(3n + 3) {
  grid-column-start: 3;
  top: 50px;
}
.horizo { grid-row-end: span 3; }
.square { grid-row-end: span 4; }
.vertic { grid-row-end: span 5; }

                                          /*Tickets-section*/

.tickets__title { margin-bottom: 25px; }

.tickets__border {
  margin-bottom: 75px;
  border-top: 3px solid var(--border-dark-red);
}
.tickets__wrapper {
  display: flex;
  justify-content: space-between;
}
.tickets__bg {
  width: 720px;
  height: 550px;
  background: url(../assets/img/tickets.avif) no-repeat;
}
.tickets__buying {
  display: flex;
  justify-content: space-between;
  width: 660px;
}
.tickets-type__title { margin-bottom: 52px; }

.tickets-type__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 128px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.tickets-type__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tickets-type__label {
  cursor: pointer;
  transition: color .3s;
}
.tickets-type__label:hover { color: var(--gold); }

.tickets-type__label::before {
  content: '';
  margin-right: 23px;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid var(--black);
  border-radius: 50%;
}
.tickets-type__radio:checked + .tickets-type__label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px;
}
.tickets-amount__title {
  margin-bottom: 27px;
  text-align: right;
}
.tickets-amount__descr {
  margin: 0 0 15px 25px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.number {
  margin: 0 0 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 150px;
  height: 50px;
  padding: 6px 11px;
  border: 3px solid var(--black);
}
.number__input {
	width: 30px;
  font-size: 22px;
  line-height: 26px;
	text-align: center;
	appearance: textfield;
  background-color: var(--bg-light);
  border: none;
}
.number input::-webkit-outer-spin-button,
.number input::-webkit-inner-spin-button { display: none; }

.number__btn {
	font-size: 32px;
	line-height: 32px;
  background-color: var(--bg-light);
  transition: color .3s;
}
.number__btn:hover { color: var(--gold); }

.tickets-amount__total {
  margin: 50px 0 60px 25px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}
.tickets-amount__buy-btn {
  width: 175px;
  font-weight: 300;
  font-size: 22px;
  line-height: 50px;
  color: var(--light);
  letter-spacing: 2px;
  border-radius: 2px;
  transition: background-color .3s;
  background-color: var(--bg-dark);
}
.tickets-amount__buy-btn:hover {
  background-color: var(--bg-gold);
}
                                          /*Parallax*/

.parallax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.avif);
  background-size: cover;
  background-attachment: fixed;
}

                                          /*Contacts-section*/

.contacts__title { margin-bottom: 25px; }

.contacts__border {
  margin-bottom: 75px;
  border-top: 3px solid var(--border-dark-red);
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts-text-block__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}
.contacts-text-block__descr {
  display: block;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.contacts__map {
  width: 960px;
  height: 620px;
}
                                          /*Footer*/

.footer { position: relative; }

.footer::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 126px;
  background-color: #666;
}
.footer-wrapper {
  padding: 84px 40px 53px 40px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  align-self: flex-start;
}
.footer__nav {
  padding-top: 5px;
  flex-grow: 0.476;
}
.footer-nav__list {
  width: 363px;
  height: 128px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 150px;
}
.footer__socials {
  width: 340px;
  padding-bottom: 7px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.socials__logo {
  display: block;
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #666;
  transition: border .3s;
}
.socials__logo:hover {
  border: 1px solid var(--border-gold);
}
.youtube, .twitter { padding-top: 15px; }

.instagram, .facebook, .pinterest {
  padding-top: 13px;
}
.path { transition: fill .3s; }

.socials__logo:hover > .socials__svg > .path {
  fill: var(--gold);
}
.socials__logo:active > .socials__svg > .path {
  fill: var(--dark-gold);
}
.copyright { padding: 47px 40px 53px 40px; }

.copyright__logo { margin-right: 124px; }