@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 41px 20px 34px 20px;
  }
  .section-title { font-size: 40px; }
  
                                                /*Burger*/
  
  .header__wrapper { position: relative; }

  .louvre__logo { z-index: 91; }

  .header__nav-list {
    top: 96px;
    left: -204px;
  }
  .header-nav-768 {
    display: block;
    position: absolute;
    top: 17px;
    left: 20px;
    width: 94.9%;
    padding-top: clamp(406px, 56%, 426px);
    background-color: var(--bg-dark);
    transform: translateX(-100vw);
    transition: transform .3s;
    z-index: 90;
  }
  .nav--active { transform: translateX(0); }

  .nav-768__img-block {
    margin: 0 auto;
    width: 90.3%;
    padding-bottom: clamp(10px, 5%, 35px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-areas: "img1 img1"  
                          "img2 img3";
    gap: 20px;
  }
  .nav-768__img-block .--img1 {
    grid-area: img1;
    width: 100%;
    height: clamp(10px, 26vw, 194px);
    background-image: url(../assets/img/menu/nav768-1.avif);
  }
  .nav-768__img-block .--img2 {
    grid-area: img2;
    max-width: 319px;
    height: clamp(10px, 22vw, 161px);
    background-image: url(../assets/img/menu/nav768-2.avif);
  }
  .nav-768__img-block .--img3 {
    grid-area: img3;
    max-width: 319px;
    height: clamp(10px, 22vw, 161px);
    background-image: url(../assets/img/menu/nav768-3.avif);
  }
  .nav-768_socials {
    margin: 0 auto;
    width: 340px;
    display: flex;
    justify-content: space-between;
    padding: clamp(10px, 5%, 35px) 0 15px 0;
  }
                                                /*Welcome section*/
  
  .welcome__wrp {
    position: initial;
    height: initial;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .welcome__text {
    position: initial;
  }
  .welcome__title {
    line-height: 60px;
    text-align: center;
    margin-bottom: 26px;
  }
  .welcome__descr {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
  .welcome__btn { display: none; }

  .welcome__swiper {
    position: initial;
    width: 100%;
    height: initial;
  }
  .welcome__swiper-wrp {
    width: 100%;
    height: clamp(285px, 72vw, 546px);
  }
  .slide {
    height: 546px;
    background-size: contain;
  }
  .slide-1 {
    background-image: url(../assets/img/welcome-slider/1.avif);
  }
  .slide-2 {
    background-image: url(../assets/img/welcome-slider/2.avif);
  }
  .slide-3 {
    background-image: url(../assets/img/welcome-slider/3.avif);
  }
  .slide-4 {
    background-image: url(../assets/img/welcome-slider/4.avif);
  }
  .slide-5 {
    background-image: url(../assets/img/welcome-slider/5.avif);
  }
  .swiper__controls {
    position: initial;
    margin: 0 auto;
    width: clamp(350px, 95%, 400px);
    height: 100px;
    padding: 30px 0;
  }
                                          /*Visiting section*/
  
  .visiting--padding { padding: 25px 20px 81px 20px; }

  .visiting__title { margin-bottom: 5px; }

  .visiting__list {
    padding-top: 40px;
    row-gap: 39px;
  }
  .card-photo__img {
    margin-bottom: 25px;
    width: clamp(200px, 37vw, 280px);
    width: 280px;
  }
  .card-photo__title {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 24px;
  }
  .card__descr1 {
    font-size: 18px;
    line-height: 21px;
  }
                                        /*Explore section*/
  
  .explore__wrapper.--pad { padding: 25px 20px 46px 20px; }

  .explore__title { margin-bottom: 5px; }

  .explore__border { margin-bottom: 19px; }

  .explore__descr { display: none; }

                                      /*Video section*/
  
  .video--padding { padding: 24px 20px 80px 20px; }

  .video__text-block { margin-bottom: 6px; }

  .video-container {
    max-height: 386px;
    margin-bottom: 20px;
  }
  .big-play {
    top: 43%;
    width: 11%;
  }
  .controls { padding: 12px 30px; }

  .play { margin-right: 35px; }

  .video-progress {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
  }
  .volume { margin-right: 35px; }

  .volume-progress {
    flex-grow: 1;
    margin-right: 31px;
    height: 5px;
  }
                  /*Video slider*/
  .video__swiper {
    height: clamp(101px, 26vw, 199px);
    margin-bottom: 20px;
  }
  .swiper-slide iframe {
    width: clamp(180px, 100%, 354px);
    height: clamp(101px, 26vw, 199px);
  }
  .video-swiper__controls { width: 190px !important; }

  .video-swp-ctrl__pagination { width: 130px !important; }

  .video-swp-ctrl-pag__bullet {
    width: 10px;
    height: 10px;
  }
                                      /*Gallery section*/

  .gallery::after { height: 235px; }

  .gallery__container {
    max-height: clamp(757px, 160vw, 1220px);
    padding: 25px 20px 0 20px;
  }
  .gallery__title { margin-bottom: 25px; }

  .gallery__inner {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .gallery__item:nth-child(3n + 1),
  .gallery__item:nth-child(3n + 2),
  .gallery__item:nth-child(3n + 3) {
    grid-column-start: unset;
    top: unset;
  }
  .gallery__item:nth-child(odd) {
    grid-column-start: 1;
    top: 50px;
  }
  .gallery__item:nth-child(even) {
    grid-column-start: 2;
  }
                                      /*Tickets section*/
  
  .tickets--pad { padding: 25px 20px 40px 20px; }

  .tickets__title { margin-bottom: 5px; }

  .tickets__border { margin-bottom: 40px; }

  .tickets__bg {
    margin-right: 60px;
    flex-basis: 444px;
    height: 44.3vw;
  }
  .tickets-amount__title { margin-bottom: 38px; }

  .number { margin: 0 0 25px 0; }

  .tickets-amount__total { margin: 39px 0 40px 0; }

  .tickets-amount__total span { margin-right: 17px; }

  .tickets-amount__buy-btn { font-weight: 100; }

                                      /*Parallax*/

  .parallax { height: 300px; }

                                        /*Contacts section*/

  .contacts-wrp-pad { padding: 25px 20px 68px 20px; }

  .contacts__title { margin-bottom: 5px; }

  .contacts__border { margin-bottom: 40px; }

  .contacts__wrapper { flex-direction: column; }

  .contacts-text-block__title {
    margin-bottom: 41px;
    font-size: 20px;
    line-height: 23px;
  }
  .contacts-text-block__descr {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
  }
  .contacts__map {
    margin-top: 23px;
    width: 100%;
    height: clamp(248px, 65vw, 476px);
  }
                                          /*Footer*/

  .footer::after {
    height: 1px;
    bottom: 102px;
  }
  .footer-wrapper {
    padding: 47px 20px 32px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__nav {
    padding-top: 10px;
    flex-grow: .6;
  }
  .footer-nav__list {
    width: 340px;
    row-gap: 15px;
    column-gap: clamp(20px, 50%, 184px);
  }
  .footer-nav__list li a {
    font-size: 18px;
    line-height: 21px;
  }
  .footer__socials {
    margin-right: 12.5%;
    padding: 36px 0 4px 0;
    align-self: flex-end;
    justify-self: center;
    display: flex;
    justify-content: space-between;
  }
  .copyright { padding: 42px 20px 37px 20px; }
}
@media (max-width: 680px) {

  .header-nav-768 {
    top: 17px;
    left: 20px;
    width: 94.9%;
    padding-top: clamp(406px, 56%, 426px);
  }
  .nav-768__img-block {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 20px;
    grid-template-areas: "img2 img1 img3";
    gap: 12px;
  }
  .nav-768__img-block .--img1,
  .nav-768__img-block .--img2,
  .nav-768__img-block .--img3 {
    max-width: 100%;
    height: clamp(95px, 22vw, 161px);
    background-position: center;
  }
  .nav-768_socials {
    margin: 0 auto;
    width: 260px;
    display: flex;
    justify-content: space-between;
    padding: 24px 0 15px 0;
  }
  .visiting__list {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    justify-content: unset;
    align-items: center;
    row-gap: 40px;
    column-gap: unset;
    border-top: 2px solid var(--border-dark-red);
  }
  .tickets__wrapper { flex-direction: column; }

  .tickets__bg {
    margin-right: unset;
    margin-bottom: 41px;
    flex-basis: unset;
    width: initial;
    height: 38vw;
  }
  .tickets__buying { align-self: center; }

  .tickets-amount__title { text-align: center; }

  .contacts__map {
    background-position: center center;
    background-size: 960px 620px;
  }
  .copyright__course { display: none; }
}