@font-face {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Forum-Regular.woff2) format('woff2');
  unicode-range: U+00-7F;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(assets/fonts/Roboto-Thin.woff2) format('woff2');
  unicode-range: U+00-7F;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/fonts/Roboto-Light.woff2) format('woff2');
  unicode-range: U+00-7F;
}
html {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --bg-light: #fff;
  --bg-dark: #030303;
  --bg-dark-red: #710707;
  --bg-gold: #9D8665;
  --border-light: #fff;
  --border-dark-red: #710707;
  --border-gold: #9D8665;
  --light: #fff;
  --black: #000;
  --dark: #030303;
  --light-gold: #D2B183;
  --gold: #9D8665;
  --dark-gold: #7E6C51;
  --dark-red: #710707;
}
.body {
  font-family: Roboto, Arial;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  background-color: #030303;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  margin: 0 auto;
  max-width: 1520px;
  padding: 75px 40px;
}
.nav-list-text {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
}
ul { list-style-type: none; }
.section-title {
  font-family: Forum, Arial;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.text-color--gold {
  color: #9d8665;
}
.text-color--black {
  color: #000;
}
.bg-color--white {
  background-color: #fff;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 40px 58px 40px;
}
.louvre__logo {
  width: 199px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1px;
}
.louvre-logo__img {
  margin-right: 22px;
  width: 50px;
  height: 34px;
  background: url(assets/svg/logo.svg) no-repeat;
}
.louvre-logo__text {
  font-family: Forum, Arial;
  font-size: 28px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}
.header__nav {
  max-width: 775px;
  width: 100%}
.header__burger-icon  {
  display:  none;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header-nav-768 {
  display:  none;
}
.welcome__wrp {
  position: relative;
  height: 810px;
}
.welcome__swiper {
  position: absolute;
  top: 0;
  right: 40px;
  width: 1000px;
  height: 810px;
}
.swiper {
  overflow: hidden;
  z-index: 1;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-slide {
  flex-shrink: 0;
  transition-property: transform;
}
.slide {
  background-repeat: no-repeat;
}
.slide-1 {
  width:  1000px;
   background-image: linear-gradient(90deg, #000 0, rgba(0, 0, 0, .5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(assets/img/welcome-slider/1.avif);
}
.swiper__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 75px 45px 74px;
  background-color: #000;
  z-index: 10;
}
.swiper-fraction {
  font-size: 22px;
}
.swip-frac__other {
  margin-left: 5px;
}
.swip-ctrl__pagination {
  margin-right: 5px;
  width: 180px!important;
  display: flex;
  justify-content: space-between;
}
.swip-ctrl-pag__bullet {
  width: 16px;
  height: 16px;
  background-color: #fff;
}
.swip-ctrl-pag__bullet--active {
  background-color: #d2b183;
}
.swip-ctrl__buttons {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swip-ctrl-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.welcome--padding {
  padding: 150px 40px 272px 40px;
}
.welcome__text {
  position: absolute;
  top: 150px;
  left: 40px;
  z-index: 10;
}
.welcome__title {
  margin-bottom: 24px;
}
.welcome__descr {
  margin-bottom: 76px;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}
.welcome__btn {
  display: block;
  width: 360px;
  font-weight: 300;
  font-size: 22px;
  line-height: 75px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  background-color: #710707;
  border-radius: 10px;
}
.visiting--padding {
  padding: 75px 40px 73px 40px;
}
.visiting__title {
  margin-bottom: 25px;
}
.visiting__list {
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 76px;
  column-gap: 60px;
  border-top: 3px solid #710707;
}
.card__ref {
  display: block;
}
.card-photo__img {
  margin-bottom: 25px;
  display: block;
  width: 440px;
  height: 285px;
}
.popup {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 49px 20px;
  }
  .section-title { font-size: 50px; }
  
  .header__nav { position: relative; }

  .header__burger-icon {
    position: relative;
    display: block;
    margin-left: auto;
    width: 32px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }
  .header__burger-icon span,
  .header__burger-icon::before,
  .header__burger-icon::after {
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--bg-light);
  }
  .header__burger-icon::before,
  .header__burger-icon::after { content: ''; }
  .header__burger-icon::before { top: 0; }
  .header__burger-icon::after { bottom: 0; }
  .header__burger-icon span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  .header__burger-icon--active span { transform: scale(0); }
  .header__burger-icon--active::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
  .header__burger-icon--active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
  }
  .header__nav-list {
    position: absolute;
    top: 100px;
    left: -203px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 280px;
    transform: translateX(-100vw);
    transition: transform .3s;
    background-color: transparent;
    z-index: 100;
  }
  .nav--active { transform: translateX(0); }

  .header-nav-list__item {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    align-self: center;
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
  }
  .header-nav-list__item::after {
    position: absolute;
    content: '';
    top: 4px;
    right: -19px;
    width: 8px;
    height: 12px;
    background: url(../assets/svg/gt.svg);
  }
  
  .welcome__wrp { height: 585px; }

  .welcome__swiper {
    right: 20px;
    width: 700px;
    height: 585px;
  }
  .welcome__swiper-wrp {
    width: 700px;
    height: 525px;
  }
  .slide {
    width: 700px;
    height: 525px;
  }
  .welcome__text {
    top: 50px;
    left: 20px;
    opacity: 1;
    transition: opacity .3s;
  }
  .welcome__text--hide {
    opacity: 0;
    visibility: hidden;
  }
  .welcome__descr {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }
  .welcome__btn {
    width: 300px;
    font-weight: 300;
    font-size: 20px;
    line-height: 60px;
  }
  .swiper__controls {
    width: 700px;
    padding: 40px 75px 40px 224px;
  }
  .swiper-fraction { font-size: 20px; }

  .swip-ctrl__pagination {
    margin-right: 0;
    width: 160px !important;
  }
  .swip-ctrl-pag__bullet {
    width: 12px;
    height: 12px;
  }
  
  .visiting--padding { padding: 52px 20px 61px 20px; }

  .visiting__title { margin-bottom: 12px; }

  .visiting__list {
    padding-top: 60px;
    row-gap: 60px;
    column-gap: 0;
  }
  .card-photo__img {
    margin-bottom: 25px;
    width: clamp(280px, 33vw, 330px);
  }
  .card-photo__title {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
  .card__border {
    margin-bottom: 10px;
    width: 150px;
  }
  .card__descr1 {
    font-size: 20px;
    line-height: 23px;
  }
  .card__descr2 {
    font-size: 16px;
    line-height: 19px;
  }
}